*,*:focus,*:hover{
  outline:none;
}

body {
  background-color: #DDFFF7;
  font-family: Roboto, sans-serif;
}

#divmother {
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  margin: auto;
  margin-top: 5%;
  box-shadow: 2px 4px 10px gray;
  width: fit-content;
  padding: 30px;
}

#email {
  margin: 10px 0 0 14.86px;
  width: 250px;
}

#senha {
  margin: 10px 0 10px 10px;
  width: 250px;
}

#lembrarsenha {
  margin: 10px 10px 10px 60.28px;
}

#button {
  border: 2px #E980FC solid;
  background-color: #E980FC;
  border-radius: 12px;
  padding: 5px 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  margin: 10px 0 0 60.28px;
}

#button:active {
  border: 2px #E980FC solid;
  background-color: white;
  color: #E980FC;
}
