*{
    margin:0;
    padding:0;
    border:0;
}
.top-header{
    background-color:#006D77;
    color: white;
    font-family: "Monteserrat", sans-serif;
    font-weight: 200;
    text-align: center;
    padding: 20px 0 20px 0;
}

.nav-links ul li{
    display: inline;
    font-family: "Montserrat", sans-serif;
    padding: 30px;
}

.nav-links ul a{
    text-decoration: none;
    color:#EDF6F9;
}

.nav-links ul a:hover{
    font-weight: 1000;
}

.nav-links{
    background-color: #83C5BE;
    text-align: center;
}

.nav-links ul{
    padding: 12px 0;
}

/*---*/

