body {
    font-size: 20px;
    margin: 0 5%;
    text-align: center;
}
h1 {
    font-size: 25px;
    text-align: center;
    border: 1px black solid;
    padding : 5px;
    margin: 5% 10%;
}
h2 {
    opacity: 0.8;
}

img {
    max-width: 100%;
}

figure {
    margin: 50px 0;
}

